<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>YewPos Pharmacy</display-name>
	<listener>
		<listener-class>com.sharobi.yewpos.init.Initializer</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/yewpos-dispatcher-servlet.xml</param-value>
	</context-param>

	<filter>
		<filter-name>POST-parameter-encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>POST-parameter-encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
    <filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    		<init-param>
        		<param-name>encoding</param-name>
        		<param-value>UTF-8</param-value>
    		</init-param>
    		<init-param>
        		<param-name>forceEncoding</param-name>
        		<param-value>true</param-value>
    		</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>characterEncodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>yewpos-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>yewpos-dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/pages/index.jsp</welcome-file>
	</welcome-file-list>
	<!-- <jsp-config>
	    <taglib>
    	<taglib-uri>ddformatter</taglib-uri>   
    	<taglib-location>/WEB-INF/taglib/ddformatter.tld</taglib-location>      
		</taglib>
	</jsp-config> -->
	
	<!-- <error-page>
		<error-code>404</error-code>
		<location>/error/type404.st</location>
	</error-page>-->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/error/error.jsp</location>
	</error-page> 
	<session-config>
       <session-timeout>-1</session-timeout>
    </session-config>
    
    
    
</web-app>
